<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Image Example</title>
    <link rel="stylesheet" href="event-category-update.component.scss">
</head>
<body>
    <header class="navbar">
        <!-- Navbar content here -->
    </header>

    <div class="background-image"></div>

    <div class="content">
        <form [formGroup]="categoryForm" (ngSubmit)="updateCategory()" 
              class="text-center border border-light p-5" 
              style="margin-left: 20%; margin-right: 20%; background-color: black; color: white; margin-top: 100px;">
            <p class="h4 mb-4">Update Category</p>

            <input type="text" class="form-control mb-4" [(ngModel)]="category" formControlName="event_category">

            <div class="error text-danger" 
                 *ngIf="categoryForm.controls['event_category'].hasError('required') && categoryForm.controls['event_category'].touched || 
                 categoryForm.controls['event_category'].hasError('pattern')">
                Valid category required
            </div>

            <button class="btn btn-info btn-block my-4" type="submit">Update</button>
        </form>
    </div>
</body>
</html>
