<div class="list-container">
    <div class="list-row">
        <div class="list-item">
            <div class="name">Users</div>
            <div class="count">{{userList.length}}</div>
        </div>
        <div class="list-item">
            <div class="name">Organizers</div>
            <div class="count">{{organizerList.length}}</div>
        </div>
    </div>
    <div class="list-row">
        <div class="list-item">
            <div class="name">Feedbacks</div>
            <div class="count">{{feedbackList.length}}</div>
        </div>
        <div class="list-item">
            <div class="name">Bookings</div>
            <div class="count">{{bookingList.length}}</div>
        </div>
    </div>
</div>
